name: Build and Release
on:
  pull_request:
  push:
    branches:
      - "master"
  workflow_call:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check-out repository
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Set up Typst
        run: |
          curl -L -o typst.tar.xz https://github.com/typst/typst/releases/latest/download/typst-x86_64-unknown-linux-musl.tar.xz
          tar --strip-components=1 -xJvf typst.tar.xz
          chmod 755 ./typst
      - name: Compile Typst Scripts
        run: |
          mkdir -p release
          for f in $(find . -maxdepth 1 -name "*.typ"); do
            ./typst compile $f
            mv $(basename $f .typ).pdf release/
          done
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: Resumes
          path: release/
      - name: Release
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          draft: false
          prerelease: false
          automatic_release_tag: latest
          files: release/*.pdf
